<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$ob_kurz_betreff}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src='./js/vtip-min.js' ></script>
<script type="text/javascript" src='./bootstrap/js/bootstrap.min.js' ></script>
<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="./bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" charset="utf-8" />



</head>

<body>
	    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./">MyOpenBonn</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="./">Home</a></li>
              <!--
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>-->
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      {$single_dok_header}
      </div>

      <!-- Example row of columns -->
      <div class="row">	
      		 	<div class="span8">
      		
		
		 
		 #start#
		 <div class="liste_image">
		  
		 
		 {$search_ergebniss}
		
		
		Daten: <a href="{$api_url}">{$api_url}</a>
		
		  <div class="more_docs span8">
      	<h2>Verkn&uuml;pfte Dokumente</h2>
      	
      </div>
		
		<div class="comment">
			<a name="error" id="error" ></a>
			
      	<h2>Kommentare</h2>
      	{if $error}
			<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Achtung!</strong> &Uuml;berpr&uuml;fen Sie bitte die Eingabe.
			</div>
			
			{/if}
      	 <div class="form">
              <form id="artikel_kommentar" action="#error" method="post" name="artikel_kommentar" class="form-horizontal">
                <fieldset>
                  <legend>Kommentar schreiben:</legend> 
                   <div class="control-group {if $error_neuvorname}error{/if}">
                  <label class="control-label " for="neuvorname">Autor:</label>
                  <div class="controls"><input type="text" class="inpt" id="neuvorname" name="neuvorname" size="30" maxlength="78" value="" /></div></div>
                  
                   <div class="control-group {if $error_formthema}error{/if}">
                  <label for="formthema" class="control-label ">Thema:</label>
                  <div class="controls"><input type="text" class="inpt" id="formthema" name="formthema" size="30" maxlength="78" value="" /></div></div>
                  
                   <div class="control-group {if $error_inhalt}error{/if}">
                  <label for="inhalt" class="control-label  ">Beitrag:</label>
                  <div class="controls"><textarea class="txt" id="inhalt" name="inhalt" rows="10" cols="30">
</textarea></div></div>
                  <!-- MODUL: spamschutz (intern)
                  <div id="spamschutz">
                    <fieldset>
                      <legend>Spam-Schutz</legend>
                      <p>
                        Aus Gründen der Sicherheit ist dieses Formular mit einem Schutz gegen unerwünschte E-Mails (Spam) versehen.
                      </p>
                      <p>
                        Damit Sie dieses Formular absenden können, lösen Sie bitte die folgende Aufgabe.
                      </p><label for="spamcode">Die Zahl 77 minus die Zahl 5 =</label> <input type="text" name="spamcode" id="spamcode" size="4" maxlength="10" value="" /><br />
                    </fieldset>
                  </div>  ENDE MODUL: spamschutz (intern) -->
                   <div class="control-group"><div class="controls">
                  <input type="submit" class="btn btn-primary" value="Eintragen" name="uebermittelformular" />
                  </div></div>
                </fieldset>
              </form>
            </div>
      	</div>
		
		      </div>
      	
       
      </div></div>
    
      
      

      <hr>

     

    </div> <!-- /container -->

	
	 <footer>
            <div id="foot" class="container_16 clearfix">
        {$rapid_form}
      

        </div>
      </footer>
	
	
    

</body>
</html>